<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5 p-4 bg-white shadow rounded">
    <h2 class="text-center mb-3">Digital Library Records System</h2>
    <hr>

    <p>
       Digital Library Records System is a simple and efficient web developed to manage 
        book records, student details, issue dates, return dates and department-wise book tracking.
        It helps automate the manual process used in libraries and makes data handling faster.
    </p>

    <h4 class="mt-4">Purpose of the Project</h4>
    <ul>
        <li>To maintain student book issue and return records digitally.</li>
        <li>To reduce manual paperwork in the library.</li>
        <li>To store, update, search and delete records easily.</li>
        <li>To help librarians manage books efficiently.</li>
    </ul>

    <h4 class="mt-4">Features</h4>
    <ul>
        <li>Add new book issue records</li>
        <li>Update existing book details</li>
        <li>Delete incorrect/old records</li>
        <li>Display all student book entry records</li>
        <li>Simple and user-friendly interface</li>
    </ul>

    <h4 class="mt-4">Technologies Used</h4>
    <ul>
        <li>Frontend: HTML, CSS, Bootstrap</li>
        <li>Backend: Flask (Python)</li>
        <li>Database: MySQL (SQLAlchemy ORM)</li>
    </ul>

    <p class="mt-4">
        This project is mainly created for learning Flask, CRUD operations and database connectivity. 
        It is suitable for college mini projects and portfolio building.
    </p>

    <hr>
    <p class="text-center text-muted small">Developed by Boobalan kannan — 2025</p>
</div>

</body>
</html>
