<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Library Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5 p-5 bg-white shadow rounded text-center">
    <h2>Contact Us</h2>
    <p class="text-muted mb-4">Have questions or feedback? Reach out to us anytime.</p>

    <p><strong>Developer:</strong> Boobalan Kannan</p>
    <p><strong>Email:</strong> <a href="mailto:youremail@example.com">kboobalan2005@gamil.com</a></p>
    <p><strong>Phone:</strong> +91 6379827940</p>
    <p><strong>LinkedIn:</strong> <a href="www.linkedin.com/in/boobalan-kannan-a9ab802a0" target="_blank">linkedin.com</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/Boobalan333" target="_blank">github.com</a></p>

    <hr class="mt-4">
    <p class="text-muted small">Digital Library Records System</p>
</div>

</body>
</html>
